<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div>
        <div class="identity">
            <form class="loginPage" action="/login" method="POST">
 
                <h1>log<Span>In</Span></h1>
                <label for="username">Username/Phone_Num :
                    <input type="text" id="username" name="email" placeholder="Enter username.." required>
                </label>

                <label for="password">Password :
                    <input type="password" id="password" name="pass" placeholder="Enter password.." required>
                </label>
                <button>login</button>
            </form>
            <p>You don't Have an account <a href="http://localhost:3000/signup">signUp</a></p>
        </div>
    </div>
</body>

</html>